body {
    height: 2000px;

    .backgroundPicture {
        z-index: -5;
        position: absolute;
        background-image: url('/img/landscape-photography-of-road-and-forest-775203.jpg');
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: top;

        //Photo Filter
        filter: contrast(1.3) brightness(0.6);
        &::before {
            background: rgb(230, 230, 230);
            content: "";
            mix-blend-mode: soft-light;
        }

        @media only screen and (min-width: 741px) {
            background-image: url('/img/sebastian-unrau-sp-p7uuT0tw-unsplash.jpg');
            filter: contrast(1.8) brightness(0.5);
        }
    }

    main {
        
        z-index: 5;
        width: 100%;
        background-repeat: no-repeat;
        height: 100vh;



        nav {
            height: 5vh;
            width: 100%;
            background: $darkColor;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 30px;
            display: flex;
            align-items: center;
            position: fixed;

            ul {
                //responsive navigation bar
                list-style-type: none;
                position: absolute;
                top: 5vh;
                width: 60%;
                background: $darkColor;
                height: 100vh;
                //Going to toggle this display on with javascript
                display: none;


                
                //negating the responsive navigation bar
                @media only screen and (min-width: 741px) {
                    flex-wrap: wrap;
                    justify-content: space-between;
                    display: flex;
                    position: relative;
                    top: 0;
                    width: 100%;
                    //Do we really need this
                    background: none;
                    height: inherit;
                }

                li {

                    a{
                        color: #FFFFFF;
                        text-decoration: none;
                    }
                }
            }

            .burger {
                

                div {
                    width: 25px;
                    height: 3px;
                    background-color: #FFFFFF;
                    margin: 5px;
                }

                @media only screen and (min-width: 741px) {
                    display: none;
                }
            }

            @media only screen and (min-width: 741px) {
                display: block;
                align-items: none;
            }

        }
        .titleText {

            text-align: center;
            padding: 100px 0px 0px 0px;
            color: #FFFFFF;
            font-family: $font-title;
        
            h1 {
                font-size: 50px;
            }

            h3 {
                margin-top: 22px;
                font-weight: 400;
                font-size: 30px;  
            }

            @media only screen and (min-width: 741px) {
                h1 {
                    font-size: 80px;
                }
    
                h3 {
                    margin-top: 22px;
                    font-weight: 400;
                    font-size: 30px;  
                }

            }
        }
    }
    #navPortfolio {
        font-family: $font-general;
        margin-top: 50px;

        h1 {
            text-align: center;
            font-size: 50px;
        }

        .container {
            width: 100%;
            height: auto;
            //background: tomato;
            display: grid;
            grid-template-columns: 100%;
            justify-items: center;
            margin-top: 50px;

            @media only screen and (min-width: 741px) {
            
                grid-template-columns: 1fr 1fr 1fr;
            }

            .portfolioItem {
                height: 280px;
                width: 220px;
                margin: 10px;
                box-shadow: 0px 5px 20px $darkColor;
                border-radius: 4px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                h2 {
                    text-align: center;
                }

                p {
                    padding: 8px;
                }

                .buttons {

                    display: flex;
                    justify-content: center;

                    a {
                        text-decoration: none;
                        border: 2px solid $darkColor;
                        border-radius: 8px;
                        margin: 10px;
                        font-size: 20px;
                        padding: 3px;
                        letter-spacing: 0.145em;
                        color: $darkColor;
                    }

                }
            }
        }
    }

    #navSkills {
        
        font-family: $font-general;
        margin-top: 100px;
        text-align: center;

        h1 {
            font-size: 50px;
        }

        .container {
            margin-top: 40px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            @media only screen and (min-width: 741px) {
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            }
            .skillComponent {
                height: 200px;

                @media only screen and (min-width: 741px) {
                    height: 300px;
                }

                img {
                    max-height: 150px;
                    padding: 15px;

                    @media only screen and (min-width: 741px) {
                        max-height: 200px;
                    }
                }
            }
        }
    }
    #navAboutMe {
        display: flex;
        justify-content: center;
        font-family: $font-general;

        .container {
            max-width: 950px;
            margin: 100px 15px 15px 15px;
            padding: 15px;
            border: 3px solid $darkColor;
            
            h1 {
                font-size: 50px;
                text-align: center;
            }
    
            p {
                margin-top: 30px;
            }
        }
    }
}