body {
  height: 4100px;
}

@media only screen and (min-width: 741px) {
  body {
    height: 3500px;
  }
}

body .backgroundPicture {
  z-index: -5;
  position: absolute;
  background-image: url("/img/landscape-photography-of-road-and-forest-775203.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top;
  -webkit-filter: contrast(1.3) brightness(0.6);
          filter: contrast(1.3) brightness(0.6);
}

body .backgroundPicture::before {
  background: #e6e6e6;
  content: "";
  mix-blend-mode: soft-light;
}

@media only screen and (min-width: 741px) {
  body .backgroundPicture {
    background-image: url("/img/sebastian-unrau-sp-p7uuT0tw-unsplash.jpg");
    -webkit-filter: contrast(1.8) brightness(0.5);
            filter: contrast(1.8) brightness(0.5);
  }
}

body main {
  position: relative;
  z-index: 5;
  width: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

body main nav {
  height: 5vh;
  width: 100%;
  background: #0e1d22;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
}

body main nav ul {
  list-style-type: none;
  position: absolute;
  top: 5vh;
  width: 60%;
  background: #0e1d22;
  height: 100vh;
  display: none;
}

@media only screen and (min-width: 741px) {
  body main nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 0;
    width: 100%;
    background: none;
    height: inherit;
  }
}

body main nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
}

body main nav .burger div {
  width: 25px;
  height: 3px;
  background-color: #FFFFFF;
  margin: 5px;
}

@media only screen and (min-width: 741px) {
  body main nav .burger {
    display: none;
  }
}

@media only screen and (min-width: 741px) {
  body main nav {
    display: block;
    -webkit-box-align: none;
        -ms-flex-align: none;
            align-items: none;
  }
}

body main .titleText {
  text-align: center;
  padding: 100px 0px 0px 0px;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .titleText h1 {
  width: 100%;
  font-size: 50px;
}

body main .titleText h3 {
  width: 100%;
  margin-top: 22px;
  font-weight: 400;
  font-size: 30px;
}

body main .titleText .container {
  max-width: 800px;
  margin-top: 150px;
  padding: 5px;
  font-size: 30px;
  width: 70%;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

body main .titleText .container p {
  opacity: 1;
}

@media only screen and (min-width: 741px) {
  body main .titleText h1 {
    font-size: 80px;
  }
  body main .titleText h3 {
    margin-top: 22px;
    font-weight: 400;
    font-size: 30px;
  }
}

body #navPortfolio {
  font-family: "Open Sans", sans-serif;
  padding-top: 50px;
}

body #navPortfolio h1 {
  text-align: center;
  font-size: 50px;
}

body #navPortfolio .container {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  justify-items: center;
  margin-top: 50px;
}

@media only screen and (min-width: 741px) {
  body #navPortfolio .container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

body #navPortfolio .container .portfolioItem {
  height: 280px;
  width: 220px;
  margin: 10px;
  -webkit-box-shadow: 0px 5px 20px #0e1d22;
          box-shadow: 0px 5px 20px #0e1d22;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body #navPortfolio .container .portfolioItem h2 {
  text-align: center;
}

body #navPortfolio .container .portfolioItem p {
  padding: 8px;
}

body #navPortfolio .container .portfolioItem .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #navPortfolio .container .portfolioItem .buttons a {
  text-decoration: none;
  border: 2px solid #0e1d22;
  border-radius: 8px;
  margin: 10px;
  font-size: 20px;
  padding: 3px;
  letter-spacing: 0.145em;
  color: #0e1d22;
}

body #navSkills {
  font-family: "Open Sans", sans-serif;
  margin-top: 100px;
  padding-top: 50px;
  text-align: center;
}

body #navSkills h1 {
  font-size: 50px;
}

body #navSkills .container {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (min-width: 741px) {
  body #navSkills .container {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

body #navSkills .container .skillComponent {
  height: 200px;
}

@media only screen and (min-width: 741px) {
  body #navSkills .container .skillComponent {
    height: 300px;
  }
}

body #navSkills .container .skillComponent img {
  max-height: 150px;
  padding: 15px;
}

@media only screen and (min-width: 741px) {
  body #navSkills .container .skillComponent img {
    max-height: 200px;
  }
}

body #navContactMe {
  position: relative;
  padding-top: 50px;
  margin-top: 50px;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

body #navContactMe h1 {
  font-size: 50px;
}

body #navContactMe .form {
  width: 50%;
  position: relative;
  height: 50px;
  overflow: hidden;
  background-color: green;
}

body #navContactMe .form input {
  font-size: 20px;
  width: 100%;
  height: 100%;
  color: #595f6e;
  padding-top: 20px;
  border: none;
  outline: none;
}

body #navContactMe .form input:focus + .label-type .content-name,
body #navContactMe .form input:valid + .label-type .content-name {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  font-size: 14px;
  color: #5fa8d3;
}

body #navContactMe .form input:focus + .label-type::after, body #navContactMe .form input:valid + .label-type::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

body #navContactMe .form label {
  font-size: 25px;
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

body #navContactMe .form label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5fa8d3;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

body #navContactMe .form label .content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body #navContactMe a {
  margin-top: 20px;
  font-size: 30px;
  padding: 10px;
  border: 3px solid #0e1d22;
  color: #0e1d22;
  border-radius: 50px;
  width: 50%;
  text-align: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

body #navContactMe a:hover, body #navContactMe a:focus {
  border: 3px solid #5fa8d3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */